SP_CONFIGURE 'CLR ENABLED', 1
RECONFIGURE WITH OVERRIDE

/* drop functions so that we can replace the assembly */

IF EXISTS ( SELECT 1 FROM sys.objects WHERE object_id = OBJECT_ID(N'dbo.RegExOptionEnumeration') ) 
DROP FUNCTION dbo.RegExOptionEnumeration
IF EXISTS ( SELECT 1 FROM sys.objects WHERE object_id = OBJECT_ID(N'dbo.RegExSplit') ) 
DROP FUNCTION dbo.RegExSplit
IF EXISTS ( SELECT 1 FROM sys.objects WHERE object_id = OBJECT_ID(N'dbo.RegExEscape') ) 
DROP FUNCTION dbo.RegExEscape
IF EXISTS ( SELECT 1 FROM sys.objects WHERE object_id = OBJECT_ID(N'dbo.RegExReplace') ) 
DROP FUNCTION dbo.RegExReplace
IF EXISTS ( SELECT 1 FROM sys.objects WHERE object_id = OBJECT_ID(N'dbo.RegExReplaceX') ) 
DROP FUNCTION dbo.RegExReplaceX
IF EXISTS ( SELECT 1 FROM sys.objects WHERE object_id = OBJECT_ID(N'dbo.RegExIndex') ) 
DROP FUNCTION dbo.RegExIndex
IF EXISTS ( SELECT 1 FROM sys.objects WHERE object_id = OBJECT_ID(N'dbo.RegExIsMatch') ) 
DROP FUNCTION dbo.RegExIsMatch
IF EXISTS ( SELECT 1 FROM sys.objects WHERE object_id = OBJECT_ID(N'dbo.RegExMatch') ) 
DROP FUNCTION dbo.RegExMatch
IF EXISTS ( SELECT 1 FROM sys.objects WHERE object_id = OBJECT_ID(N'dbo.RegExMatches') ) 
DROP FUNCTION dbo.RegExMatches

IF EXISTS ( SELECT 1 FROM sys.objects WHERE object_id = OBJECT_ID(N'dbo.DoubleMetaphoneCompare') ) 
DROP FUNCTION dbo.DoubleMetaphoneCompare
IF EXISTS ( SELECT 1 FROM sys.objects WHERE object_id = OBJECT_ID(N'dbo.DoubleMetaphoneEncode') ) 
DROP FUNCTION dbo.DoubleMetaphoneEncode
IF EXISTS ( SELECT 1 FROM sys.types WHERE name = 'DoubleMetaphoneResult' ) 
DROP TYPE DoubleMetaphoneResult

IF EXISTS ( SELECT 1 FROM sys.objects WHERE object_id = OBJECT_ID(N'dbo.LevenshteinEditDistance') ) 
DROP FUNCTION dbo.LevenshteinEditDistance
IF EXISTS ( SELECT 1 FROM sys.objects WHERE object_id = OBJECT_ID(N'dbo.LevenshteinEditDistanceAsPercentage') ) 
DROP FUNCTION dbo.LevenshteinEditDistanceAsPercentage

IF EXISTS ( SELECT 1 FROM sys.objects WHERE object_id = OBJECT_ID(N'dbo.LongestCommonSubstring') ) 
DROP FUNCTION dbo.LongestCommonSubstring
IF EXISTS ( SELECT 1 FROM sys.objects WHERE object_id = OBJECT_ID(N'dbo.LongestCommonSubstringAsPercentage') ) 
DROP FUNCTION dbo.LongestCommonSubstringAsPercentage
IF EXISTS ( SELECT 1 FROM sys.objects WHERE object_id = OBJECT_ID(N'dbo.LongestCommonSubstringLeading') ) 
DROP FUNCTION dbo.LongestCommonSubstringLeading
IF EXISTS ( SELECT 1 FROM sys.objects WHERE object_id = OBJECT_ID(N'dbo.LongestCommonSubstringLeadingAsPercentage') ) 
DROP FUNCTION dbo.LongestCommonSubstringLeadingAsPercentage
IF EXISTS ( SELECT 1 FROM sys.objects WHERE object_id = OBJECT_ID(N'dbo.LongestCommonSubstringTrailing') ) 
DROP FUNCTION dbo.LongestCommonSubstringTrailing
IF EXISTS ( SELECT 1 FROM sys.objects WHERE object_id = OBJECT_ID(N'dbo.LongestCommonSubstringTrailingAsPercentage') ) 
DROP FUNCTION dbo.LongestCommonSubstringTrailingAsPercentage
IF EXISTS ( SELECT 1 FROM sys.objects WHERE object_id = OBJECT_ID(N'dbo.LongestCommonSubsequence') ) 
DROP FUNCTION dbo.LongestCommonSubsequence
IF EXISTS ( SELECT 1 FROM sys.objects WHERE object_id = OBJECT_ID(N'dbo.LongestCommonSubsequenceAsPercentage') ) 
DROP FUNCTION dbo.LongestCommonSubsequenceAsPercentage
IF EXISTS ( SELECT 1 FROM sys.objects WHERE object_id = OBJECT_ID(N'dbo.SharedCharacters') ) 
DROP FUNCTION dbo.SharedCharacters
IF EXISTS ( SELECT 1 FROM sys.objects WHERE object_id = OBJECT_ID(N'dbo.SharedCharactersAsPercentage') ) 
DROP FUNCTION dbo.SharedCharactersAsPercentage
IF EXISTS ( SELECT 1 FROM sys.objects WHERE object_id = OBJECT_ID(N'dbo.SortWords') ) 
DROP FUNCTION dbo.SortWords
IF EXISTS ( SELECT 1 FROM sys.objects WHERE object_id = OBJECT_ID(N'dbo.CountWords') ) 
DROP FUNCTION dbo.CountWords
IF EXISTS ( SELECT 1 FROM sys.objects WHERE object_id = OBJECT_ID(N'dbo.SharedWords') ) 
DROP FUNCTION dbo.SharedWords
IF EXISTS ( SELECT 1 FROM sys.objects WHERE object_id = OBJECT_ID(N'dbo.SharedWordsAsPercentage') ) 
DROP FUNCTION dbo.SharedWordsAsPercentage

GO

/* install assembly from bits */

IF EXISTS ( SELECT 1 FROM sys.assemblies asms WHERE asms.name = N'MatchingFunctions' ) 
DROP ASSEMBLY [MatchingFunctions]
GO
CREATE ASSEMBLY [MatchingFunctions] AUTHORIZATION [dbo] FROM 0x4D5A90000300000004000000FFFF0000B800000000000000400000000000000000000000000000000000000000000000000000000000000000000000800000000E1FBA0E00B409CD21B8014CCD21546869732070726F6772616D2063616E6E6F742062652072756E20696E20444F53206D6F64652E0D0D0A2400000000000000504500004C0103008480A0540000000000000000E00002210B0108000070000000200000000000001E8000000020000000A000000000400000200000001000000400000000000000040000000000000000E000000010000000000000020040850000100000100000000010000010000000000000100000000000000000000000C87F00005300000000A00000C80200000000000000000000000000000000000000C000000C00000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000200000080000000000000000000000082000004800000000000000000000002E7465787400000024600000002000000070000000100000000000000000000000000000200000602E72737263000000C802000000A000000010000000800000000000000000000000000000400000402E72656C6F6300000C00000000C0000000100000009000000000000000000000000000004000004200000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000800000000000004800000002000500C4540000042B000001000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000001E02280100000A2A1E02280400000A2AA6730600000A8001000004730700000A8002000004730800000A8003000004730900000A80040000042A0000133001000F000000010000117E010000046F0A00000A0A2B00062A00133001000F000000020000117E020000046F0B00000A0A2B00062A00133001000F000000030000117E030000046F0C00000A0A2B00062A00133001000F000000040000117E040000046F0D00000A0A2B00062A001330020011000000050000110203281100000A281200000A0A2B00062A000000133001000B0000000600001102281300000A0A2B00062A00133001000F00000007000011D005000002281400000A0A2B00062A00133001000B0000000800001102281500000A0A2B00062A00133001001800000009000011028C0100001B2D0A280100002B0A2B062B04020A2B00062A13300200100000000A000011031200FE150200001B06810200001B2A1E02281700000A2A133002002C0000000B000011027B1900000A6F1A00000A0B078C0300001B2D12280200002B0B027B1900000A076F1B00000A070A2B00062A4A02281700000A02731C00000A7D1900000A2A001E02281700000A2A133004001C0100000C0000110F00281E00000A178C1C000001168C1C000001281F00000A0F01281E00000A188C1C000001168C1C000001281F00000A282000000A0F02281E00000A1A8C1C000001168C1C000001281F00000A282000000A0F03281E00000A1E8C1C000001168C1C000001281F00000A282000000A0F04281E00000A1F108C1C000001168C1C000001281F00000A282000000A0F05281E00000A1F208C1C000001168C1C000001281F00000A282000000A0F06281E00000A1F408C1C000001168C1C000001281F00000A282000000A0F07281E00000A20000100008C1C000001168C1C000001281F00000A282000000A0F08281E00000A20000200008C1C000001168C1C000001281F00000A282000000A282100000A0B07282200000A0A2B00062A13300300510000000D0000110F01282300000A2D090F00282300000A2C0D7E2400000A282500000A0A2B301201FE151C00000104282600000A0B0F01282700000A0F00282700000A07282800000A6F2900000A282500000A0A2B00062A00000013300300470000000E0000110F01282300000A2D090F00282300000A2C087E2A00000A0A2B2B1201FE151C00000104282600000A0B0F01282700000A0F00282700000A07282B00000A282C00000A0A2B00062A00133003004D0000000F0000110F01282300000A2D090F00282300000A2C0916282200000A0A2B301201FE151C00000104282600000A0B0F01282700000A0F00282700000A07282800000A6F2D00000A282200000A0A2B00062A000000133001002C000000100000110F00282300000A2C0D7E2400000A282500000A0A2B140F00282700000A282E00000A282500000A0A2B00062A133003003E000000110000110F01282300000A2D090F00282300000A2C04140B2B261200FE151C00000104282600000A0A0F01282700000A0F00282700000A06282F00000A0B2B00072A0000360302283000000A283100000A2A00001330050042000000120000110F00282300000A2D090F01282300000A2C087E3200000A0A2B2612010F00282700000A0F01282700000A0F02282700000A19283300000A283100000A070A2B00062A00001330050051000000130000110F01282300000A2D090F00282300000A2C087E3200000A0B2B351200FE151C00000105282600000A0A12020F01282700000A0F00282700000A0F02282700000A06283300000A283100000A080B2B00072A000000133003003E000000140000110F01282300000A2D090F00282300000A2C04140A2B261201FE151C00000104282600000A0B0F01282700000A0F00282700000A07283400000A0A2B00062A0000133002002C000000150000110274220000010A03066F2900000A283100000A04066F2D00000A283500000A05066F3600000A283500000A2A1E02281700000A2A133002004200000016000011160A0272010000706F3900000A2D0D0272050000706F3900000A2C022B0D0272090000706F3900000A2C022B0D02720F0000706F3900000A2C02170A060B2B00072A00004E0250046F3A00000A260350046F3A00000A262A5E0250046F3A00000A260E0417520350056F3A00000A262A13300300B000000017000011160A03163FA10000000302506F3B00000A3C94000000025003176F3C00000A721900007016283D00000A162E17025003176F3C00000A721D00007016283D00000A1633022B17025003176F3C00000A722100007016283D00000A1633022B17025003176F3C00000A722500007016283D00000A1633022B17025003176F3C00000A722900007016283D00000A1633022B17025003176F3C00000A722D00007016283D00000A163302170A060B2B00072A133004003B00000018000011160A160B0316322D2B2202500304079A6F3B00000A6F3C00000A04079A16283D00000A163302170A0717D60B07048EB72F03062CD5060C2B00082A0013300300240000001900001172310000700B031632140302506F3B00000A2F0A025003176F3C00000A0B070A2B00062A133005009A1F00001A00001173290000061307160D16130502281E00000613081F20733E00000A0C1F20733E00000A0A160B110772310000706F31000006110772310000706F33000006026F3B00000A13061106173F0B1F0000110617DA1305026F3F00000A7233000070284000000A10000F00161B8D2000000113091109167241000070A21109177247000070A2110918724D000070A21109197253000070A211091A7259000070A2110928220000062C040917D60D0F00162823000006725F00007016283D00000A163312120212007263000070281F0000060917D60D38701E00000F00092823000006130A110A721900007016283D00000A162E10110A721D00007016283D00000A1633022B10110A722100007016283D00000A1633022B10110A722500007016283D00000A1633022B10110A722900007016283D00000A1633022B10110A722D00007016283D00000A16331B0916330E120212007219000070281F0000060917D60D38E31D0000110A726700007016283D00000A16333512021200726B000070281F0000060F000917D62823000006726700007016283D00000A1633060918D60D2B040917D60D389E1D0000110A726F00007016283D00000A163317120212007263000070281F0000060917D60D38771D0000110A727300007016283D00000A16400B07000009173E9D0000000F000918DA28210000063A8E0000000F000917DA178D2000000113091109167277000070A2110928220000062C6F0F000918D62823000006722100007016283D00000A162E570F000918D62823000006721D00007016283D00000A1633280F000918DA188D20000001130B110B16727F000070A2110B17728D000070A2110B28220000062C17120212007205000070281F0000060918D60D38C01C0000091633340F0009178D20000001130B110B16729B000070A2110B28220000062C17120212007263000070281F0000060918D60D38881C00000F0009178D20000001130B110B1672A9000070A2110B28220000062C17120212007205000070281F0000060918D60D38541C00000F0009178D20000001130B110B1672B3000070A2110B2822000006392E0500000916313B0F0009178D20000001130B110B1672B9000070A2110B28220000062C1E120212007205000070725F000070120128200000060918D60D38F51B0000091640960000000F000917D6188D20000001130B110B1672C3000070A2110B1772CF000070A2110B28220000062D3A0F000917D61A8D20000001130911091672DB000070A211091772E3000070A211091872EB000070A211091972F3000070A2110928220000062C340F0016178D20000001130C110C1672FB000070A2110C28220000062D17120212007205000070281F0000060918D60D38581B00000F0016188D20000001130C110C167207010070A2110C177211010070A2110C28220000062D1D0F0016178D20000001130B110B16721B010070A2110B28220000062C022B310F000918DA198D2000000113091109167223010070A21109177231010070A2110918723F010070A2110928220000062C022B280F000918D6188D20000001130D110D16724D010070A2110D177263000070A2110D28220000062C0538B30000000F000917DA1A8D20000001130E110E167219000070A2110E177225000070A2110E187229000070A2110E19721D000070A2110E28220000062D07091640820000000F000918D61F0A8D20000001130F110F167251010070A2110F177255010070A2110F187259010070A2110F19725D010070A2110F1A7267000070A2110F1B7261010070A2110F1C7265010070A2110F1D7269010070A2110F1E7201000070A2110F1F09726D010070A2110F28220000062C10120212007205000070281F0000062B5F091631440F0016178D20000001130F110F167271010070A2110F28220000062C10120212007205000070281F0000062B1512021200725F0000707205000070120128200000062B0E12021200725F000070281F0000060918D60D38911900000F0009178D20000001130F110F167209000070A2110F28220000062C3D0F000918DA178D20000001130E110E167277010070A2110E28220000062C1E120212007263000070725F000070120128200000060918D60D38371900000F000917D6178D20000001130F110F167281010070A2110F28220000062C1712021200725F000070281F0000060919D60D38011900000F0009178D20000001130F110F167289010070A2110F282200000639DB010000091733190F00162823000006725D01007016283D00000A163BBE0100000F000918D6198D20000001130F110F167221000070A2110F17721D000070A2110F187261010070A2110F2822000006398E0000000F000918D6178D20000001130E110E16728F010070A2110E28220000062D6F0917331A0F000917DA2823000006721900007016283D00000A1633022B280F000917DA188D20000001130F110F167295010070A2110F1772A1010070A2110F28220000062C101202120072AD010070281F0000062B1712021200725F000070281F0000060919D60D38041800002B17120212007205000070281F0000060918D60D38EB1700000F0009198D20000001130F110F1672B3010070A2110F1772B9010070A2110F1872BF010070A2110F28220000062C17120212007205000070281F0000060918D60D38A51700000F0009198D20000001130F110F1672C5010070A2110F1772CB010070A2110F1872D1010070A2110F28220000062C5D0F0009198D20000001130F110F1672D7010070A2110F1772DF010070A2110F187281010070A2110F28220000062C17120212007263000070725F000070120128200000062B0E120212007263000070281F0000060918D60D3819170000120212007205000070281F00000638061700000F000917D6198D20000001130F110F1672E7010070A2110F1772ED010070A2110F1872F3010070A2110F28220000062C060919D60D2B710F000917D6198D20000001130F110F167273000070A2110F177205000070A2110F1872F9010070A2110F28220000062C2E0F000917D6188D20000001130E110E1672CB010070A2110E1772C5010070A2110E28220000062D060918D60D2B040917D60D120212007205000070281F0000063859160000110A72FD01007016283D00000A1640D50000000F0009178D20000001130F110F167201020070A2110F2822000006399E0000000F000918D6198D20000001130E110E167221000070A2110E17721D000070A2110E18722D000070A2110E28220000062C19120212007207020070281F0000060919D60D38DE1500002B1712021200720B020070281F0000060918D60D38C51500000F0009188D20000001130F110F167211020070A2110F177217020070A2110F28220000062C1712021200724D010070281F0000060918D60D388815000012021200724D010070281F0000060917D60D3871150000110A726501007016283D00000A1633350F000917D62823000006726501007016283D00000A1633060918D60D2B040917D60D120212007265010070281F000006382C150000110A721D02007016283D00000A1640A30500000F000917D62823000006726101007016283D00000A1640B8010000091631230F000917DA28210000062D17120212007205000070281F0000060918D60D38D714000009192F430916333F0F000918D62823000006722100007016283D00000A163310120212007207020070281F0000062B0E120212007205000070281F0000060918D60D3890140000091731330F000918DA198D20000001130F110F167267000070A2110F177261010070A2110F1872FD010070A2110F28220000062C022B35091831330F000919DA198D20000001130E110E167267000070A2110E177261010070A2110E1872FD010070A2110E28220000062C022B2C091931360F00091ADA188D20000001130D110D167267000070A2110D177261010070A2110D28220000062C0E0918D60D38ED13000038A20000000918316B0F000917DA2823000006722900007016283D00000A1633530F000919DA1B8D20000001130F110F167273000070A2110F17721D020070A2110F187251010070A2110F197255010070A2110F1A724D010070A2110F28220000062C10120212007265010070281F0000062B2A091631260F000917DA2823000006722100007016283D00000A162E0E120212007205000070281F0000060918D60D38461300000F000917D62823000006725901007016283D00000A164092000000091733250F001628210000062C1B11082D171202120072470000707259010070120128200000062B600F000918D6178D20000001130F110F167221020070A2110F28220000062D330F000917D62823000006722D00007016283D00000A162E1B11082D171202120072590100707247000070120128200000062B0E120212007247000070281F0000060918D60D38991200000F000917D6178D20000001130F110F167227020070A2110F28220000062C2211082D1E12021200722D0200707251010070120128200000060918D60D3858120000091640B20000000F000917D62823000006722D00007016283D00000A162E7C0F000917D61F0B8D20000001130F110F167233020070A2110F177239020070A2110F18723F020070A2110F197245020070A2110F1A7221020070A2110F1B724B020070A2110F1C7251020070A2110F1D7257020070A2110F1E725D020070A2110F1F097263020070A2110F1F0A7269020070A2110F28220000062C1E1202120072050000707207020070120128200000060918D60D389F1100000F000917D6178D20000001130F110F167269020070A2110F28220000062D1B0F000917D62823000006722D00007016283D00000A16409D0000000F0016198D20000001130E110E16726F020070A2110E17727D020070A2110E18728B020070A2110E28220000062D6E0F000917DA188D20000001130D110D16721D000070A2110D177221000070A2110D28220000062D460F000917DA188D20000001130C110C167299020070A2110C1772A1020070A2110C28220000062D1E1202120072050000707207020070120128200000060918D60D38C81000000F000917D6198D20000001130F110F16721D000070A2110F177221000070A2110F18722D000070A2110F28220000062D2B0F000917DA188D20000001130E110E1672A9020070A2110E1772B3020070A2110E282200000639C10000000F0016188D20000001130F110F167207010070A2110F177211010070A2110F28220000062D1D0F0016178D20000001130E110E16721B010070A2110E28220000062C022B1F0F000917D6178D20000001130D110D1672BD020070A2110D28220000062C10120212007205000070281F0000062B440F000917D6178D20000001130F110F1672C3020070A2110F28220000062C10120212007207020070281F0000062B151202120072070200707205000070120128200000060918D60D38AB0F00000F000917D62823000006721D02007016283D00000A1633060918D60D2B040917D60D120212007205000070281F00000638760F0000110A726101007016283D00000A16333909162E0C0F000917DA28210000062C200F000917D628210000062C14120212007261010070281F0000060918D60D2B040917D60D382D0F0000110A720702007016283D00000A16401B0200000F0009178D20000001130F110F1672CD020070A2110F28220000062D1D0F0016178D20000001130E110E1672D7020070A2110E28220000062C690916331A0F00091AD62823000006726D01007016283D00000A1633022B1D0F0016178D20000001130D110D1672D7020070A2110D28220000062C10120212007261010070281F0000062B151202120072070200707261010070120128200000060917D60D38770E0000091633370F0009178D20000001130F110F1672CD020070A2110F28220000062D1A12021200720702007072190000701201282000000638160100000F000917DA28210000062C4E11082D4A0F000917D62823000006721900007016283D00000A162E180F000917D62823000006722500007016283D00000A16331A12021200720702007072610100701201282000000638BC000000091105331A120212007207020070726D01007012012820000006389D0000000F000917D61E8D20000001130F110F167251010070A2110F17724D010070A2110F187205000070A2110F197263000070A2110F1A7259010070A2110F1B725D010070A2110F1C7267000070A2110F1D72E1020070A2110F28220000062D3F0F000917DA198D20000001130E110E167263000070A2110E177205000070A2110E187251010070A2110E28220000062D0E120212007207020070281F0000060F000917D62823000006720702007016283D00000A1633060918D60D2B040917D60D38FF0C0000110A720500007016283D00000A1633350F000917D62823000006720500007016283D00000A1633060918D60D2B040917D60D120212007205000070281F00000638BA0C0000110A725101007016283D00000A1640FF0000000F000917D62823000006725101007016283D00000A1640CD00000009110619DA33330F000917DA198D20000001130F110F1672E5020070A2110F1772EF020070A2110F1872F9020070A2110F28220000062C022B6F0F00110517DA188D20000001130E110E167203030070A2110E177209030070A2110E28220000062D270F001105188D20000001130D110D167219000070A2110D177225000070A2110D28220000062C3D0F000917DA178D20000001130C110C1672F9020070A2110C28220000062C1E1202120072510100707231000070120128200000060918D60D38C50B00000918D60D2B040917D60D120212007251010070281F00000638A80B0000110A725D01007016283D00000A16337C0F000917DA178D20000001130F110F16720F030070A2110F28220000062C280917D611052E1F0F000918D6178D20000001130E110E167269020070A2110E28220000062C022B180F000917D62823000006725D01007016283D00000A1633060918D60D2B040917D60D12021200725D010070281F000006381C0B0000110A725901007016283D00000A1633350F000917D62823000006725901007016283D00000A1633060918D60D2B040917D60D120212007259010070281F00000638D70A0000110A721703007016283D00000A1633170917D60D120212007259010070281F00000638B00A0000110A726B00007016283D00000A1633740F000917D62823000006726101007016283D00000A163317120212007265010070281F0000060918D60D38710A00000F000917D6188D20000001130F110F16726B000070A2110F177267000070A2110F28220000062C060918D60D2B040917D60D12021200726B000070281F000006382C0A0000110A72F901007016283D00000A1633350F000917D6282300000672F901007016283D00000A1633060918D60D2B040917D60D120212007205000070281F00000638E7090000110A725501007016283D00000A16409C000000091105336211082D5E0F000918DA178D20000001130F110F16725D020070A2110F28220000062C3F0F00091ADA188D20000001130E110E16721B030070A2110E177221030070A2110E28220000062D171202120072310000707255010070120128200000062B0E120212007255010070281F0000060F000917D62823000006725501007016283D00000A1633060918D60D2B040917D60D3838090000110A726300007016283D00000A1640280400000F000917DA188D20000001130F110F167227030070A2110F17722F030070A2110F28220000062C090917D60D38F40800000916333B0F0009178D20000001130F110F167237030070A2110F28220000062C1E12021200725F0000707263000070120128200000060917D60D38B50800000F0009188D20000001130F110F1618284100000AA2110F177243030070A2110F28220000062C610F000917D61A8D20000001130F110F167249030070A2110F177253030070A2110F18725D030070A2110F197267030070A2110F28220000062C10120212007263000070281F0000062B0E12021200725F000070281F0000060918D60D382D0800000F0009188D20000001130F110F167271030070A2110F177279030070A2110F28220000062D1D0F0009178D20000001130E110E167281030070A2110E28220000062C3211082D17120212007263000070725F000070120128200000062B0E120212007263000070281F0000060919D60D38B80700000916333C0F000917D61A8D20000001130F110F16725D010070A2110F177259010070A2110F187251010070A2110F197201000070A2110F28220000062C022B1F0F000917D6178D20000001130E110E1672E1020070A2110E28220000062C43120212007263000070725F000070120128200000060F000917D6178D20000001130F110F1672E1020070A2110F28220000062C060918D60D2B040917D60D38160700000F0009178D20000001130F110F16728B030070A2110F282200000639700100000F000918D62823000006726101007016283D00000A1640F60000000F000919D61C8D20000001130F110F167291030070A2110F177269020070A2110F187297030070A2110F19729D030070A2110F1A72A3030070A2110F1B72A9030070A2110F28220000062C580F000919D6188D20000001130F110F167269020070A2110F177297030070A2110F28220000062C1712021200725F00007072AF030070120128200000062B0E1202120072AF030070281F0000060919D60D38390600002B52091633370F001928210000062D2D0F00192823000006720100007016283D00000A162E1712021200725F0000707263000070120128200000062B0E12021200725F000070281F0000060919D60D38E50500000F000918D6198D20000001130F110F167221000070A2110F17721D000070A2110F18722D000070A2110F28220000062C17120212007263000070281F0000060919D60D389D0500001202120072AF030070281F0000060919D60D3886050000091105333F0F000918DA188D20000001130F110F1672B5030070A2110F1772BB030070A2110F28220000062C171202120072310000707263000070120128200000062B0E120212007263000070281F0000060F000917D6188D20000001130F110F167263000070A2110F1772E1020070A2110F28220000062C060918D60D2B040917D60D38FD040000110A724D01007016283D00000A16408E0100000F0009178D20000001130F110F1672C1030070A2110F28220000062C1712021200725F000070281F0000060919D60D38B60400000F0009188D20000001130F110F1672CB030070A2110F1772D3030070A2110F28220000062C1712021200725F000070281F0000060919D60D38790400000F0009178D20000001130F110F1672DB030070A2110F28220000062D200F0009178D20000001130E110E1672E1030070A2110E2822000006399B0000000F000918D6188D20000001130F110F1672E9030070A2110F1772EF030070A2110F28220000062D260F0016188D20000001130E110E167207010070A2110E177211010070A2110E28220000062C022B1D0F0016178D20000001130D110D16721B010070A2110D28220000062C1012021200724D010070281F0000062B151202120072F5030070724D010070120128200000060918D60D38A10300000F000917D6188D20000001130F110F16724D010070A2110F1772FD010070A2110F28220000062C060918D60D2B040917D60D12021200724D010070281F000006385C030000110A726901007016283D00000A1633350F000917D62823000006726901007016283D00000A1633060918D60D2B040917D60D120212007265010070281F0000063817030000110A720100007016283D00000A1640720100000F0009178D20000001130F110F167253000070A2110F28220000062C17120212007255010070281F0000060918D60D38D0020000091633630F000917D628210000062D1D0F0009178D20000001130F110F1672F9030070A2110F28220000062C3A0F000917D628210000062C171202120072190000707265010070120128200000062B0E120212007219000070281F0000060917D60D3869020000091105330E0F000917DA28210000062C022B3A0F000917DA1A8D20000001130F110F1672FF030070A2110F17720B040070A2110F187217040070A2110F197223040070A2110F28220000062C022B1D0F0016178D20000001130E110E16721B010070A2110E28220000062C1E1202120072310000707265010070120128200000060917D60D38DF0100000F0009188D20000001130F110F167277010070A2110F17720F000070A2110F28220000062C1E12021200722F040070723504007012012820000006091AD60D389B0100000917D60D3892010000110A725F00007016283D00000A16409A00000009110533500F000919DA188D20000001130F110F16723B040070A2110F177243040070A2110F28220000062D360F000918DA188D20000001130E110E16724B040070A2110E177251040070A2110E28220000062D0E1202120072AD010070281F0000060F000917D6188D20000001130F110F167273000070A2110F17725F000070A2110F28220000062C060918D60D2B040917D60D38E5000000110A72E102007016283D00000A1640CE0000000F000917D62823000006726101007016283D00000A16331C120212007207020070281F0000060918D60D38A300000038980000000F000917D6198D20000001130F110F167257040070A2110F17725D040070A2110F187263040070A2110F28220000062D2011082C330916312F0F000917DA2823000006724D01007016283D00000A162E17120212007263000070722F040070120128200000062B0E120212007263000070281F0000060F000917D6282300000672E102007016283D00000A1633060918D60D2B040917D60D2B040917D60D0911062F0C086F4200000A1A3F7FE1FFFF1107086F4300000A1A1F206F4400000A161A6F3C00000A6F310000061107066F4300000A1A1F206F4400000A161A6F3C00000A6F33000006110713042B0011042A000013300300BD0000001B000011160B026F30000006036F3000000616283D00000A163307190B3899000000026F30000006036F3200000616283D00000A163318036F32000006726904007016283D00000A162E04180B2B6C026F32000006036F3000000616283D00000A163318026F32000006726904007016283D00000A162E04180B2B3F026F32000006036F3200000616283D00000A16332A026F32000006726904007016283D00000A162E16036F32000006726904007016283D00000A162E02170B070A2B00062A0000001E02281700000A2A13300300760100001C000011026F3B00000A1308036F3B00000A0C026F3B00000A036F3B00000A284600000A6C230000000000000040230000000000003F40284700000A361023000000000000000013043829010000110816FE010816FE015F2C102300000000000000001304380D0100001108163310230000000000005940130438F800000008163310230000000000005940130438E4000000110817D68D290000011309110817D68D29000001130A171108130F13072B0D1109110711079E110717D613071107110F31ED170813100B3885000000110A16079E030717DA6F4800000A0A171108131113072B5702110717DA6F4800000A13061106063304160D2B02170D110911079417D6130E110A110717DA9417D6130C1109110717DA9409D6130D110C110E2F04110C130E110D110E2F04110D130E110A1107110E9E110717D613071107111131A31109130B110A1309110B130A0717D60B0711103E73FFFFFF110808284600000A13051F641109110894D86C11056C5B13042B0011042A000013300300450100001D000011026F3B00000A1307036F3B00000A0C026F3B00000A036F3B00000A284600000A6C230000000000000040230000000000003F40284700000A36081613043800010000110716FE010816FE015F2C0816130438EC000000110716330808130438DF000000081633091107130438D2000000110717D68D290000011308110717D68D290000011309171107130E13062B0D1108110611069E110617D613061106110E31ED1708130F0B3885000000110916079E030717DA6F4800000A0A171107131013062B5702110617DA6F4800000A13051105063304160D2B02170D110811069417D6130D1109110617DA9417D6130B1108110617DA9409D6130C110B110D2F04110B130D110C110D2F04110C130D11091106110D9E110617D613061106111031A31108130A11091308110A13090717D60B07110F3E73FFFFFF110811079413042B0011042A0000001E02281700000A2A133005004B00000000000000026F2F0000062C0D0372310000706F4A00000A2B3503026F300000061A1F206F4400000A161A6F3C00000A026F320000061A1F206F4400000A161A6F3C00000A284000000A6F4A00000A2A0013300400400000001E000011036F4C00000A0A066F3B00000A1E2E0902177D080000042B260206161A6F3C00000A6F3F00000A6F3100000602061A1A6F3C00000A6F3F00000A6F330000062A13300400560000001F00001173290000060B0F00282700000A6F3B00000A1E2E0907177D080000042B32070F00282700000A161A6F3C00000A6F3F00000A6F31000006070F00282700000A1A1A6F3C00000A6F3F00000A6F33000006070A2B00062A00001330040061000000200000111F10733E00000A0A026F2F0000062C0E0672730400706F3A00000A262B3806027B060000041A1F206F4400000A161A6F3C00000A6F3A00000A2606027B070000041A1F206F4400000A161A6F3C00000A6F3A00000A26066F4300000A0B2B00072A00000013300200130000002100001173290000060B07177D08000004070A2B00062A00133001000B00000022000011027B080000040A2B00062A00133001000B00000023000011027B060000040A2B00062A002202037D060000042A000000133001000B00000024000011027B070000040A2B00062A002202037D070000042A0000001E02281700000A2A13300800FA00000025000011026F3B00000A17DA17D6036F3B00000A17DA17D6735100000A1305160C160D160B160A16026F3B00000A17DA1308130638B400000016036F3B00000A17DA1309130738930000000211066F4800000A0C0311076F4800000A0D120209285200000A2D0E110511061107166F5300000A2B63120616285400000A120716285400000A602C0E110511061107176F5300000A2B1C110511061107171105110617DA110717DA6F5500000AD66F5300000A1105110611076F5500000A0731181105110611076F5500000A0B1105110611076F5500000A0A110717D61307110711093E64FFFFFF110617D61306110611083E43FFFFFF0613042B0011042A0000133003006500000026000011026F3B00000A16FE01036F3B00000A16FE015F2C0C2300000000000059400B2B42160A020328350000060A0616330C2300000000000000000B2B28066C026F3B00000A036F3B00000AD66C2300000000000000405B5B2300000000000059405A0B2B00072A000000133003002700000027000011170B2B040717D60B0207285600000A0307285600000A16283D00000A162EE50717DA0A2B00062A00133003004B00000028000011170B2B040717D60B0207285600000A0307285600000A16283D00000A162EE50717DA6C026F3B00000A036F3B00000AD66C2300000000000000405B5B2300000000000059405A0A2B00062A00133003002700000029000011170B2B040717D60B0207285700000A0307285700000A16283D00000A162EE50717DA0A2B00062A00133003004B0000002A000011170B2B040717D60B0207285700000A0307285700000A16283D00000A162EE50717DA6C026F3B00000A036F3B00000AD66C2300000000000000405B5B2300000000000059405A0A2B00062A0013300800D40100002B000011026F3B00000A1306120616285400000A036F3B00000A1307120716285400000A602C1072F5030070285800000A0C389F010000026F3B00000A17DA17D6036F3B00000A17DA17D6735900000A0D160A160B16026F3B00000A17DA13081304384C01000016036F3B00000A17DA13091305382B0100000211046F4800000A0A0311056F4800000A0B120007285200000A2C41120416285400000A120516285400000A602C0E0911041105176A6F5A00000A2B1B0911041105176A09110417DA110517DA6F5B00000AD66F5A00000A38C8000000120416285400000A120516285400000A5F2C110911041105166A6F5A00000A38A4000000120416285400000A120516285400000A16FE015F2C1F0911041105166A091104110517DA6F5B00000A285C00000A6F5A00000A2B6F120516285400000A120416285400000A16FE015F2C1F091104110509110417DA11056F5B00000A166A285C00000A6F5A00000A2B3A110416FE0116FE01110516FE0116FE015F2C27091104110509110417DA11056F5B00000A091104110517DA6F5B00000A285C00000A6F5A00000A110517D61305110511093ECCFEFFFF110417D61304110411083EABFEFFFF09026F3B00000A17DA036F3B00000A17DA6F5B00000AB70C2B00082A13300300650000002C000011026F3B00000A16FE01036F3B00000A16FE015F2C0C2300000000000059400B2B42160A0203283B0000060A0616330C2300000000000000000B2B28066C026F3B00000A036F3B00000AD66C2300000000000000405B5B2300000000000059405A0B2B00072A00000013300400AA0000002D000011026F3B00000A17DA17D68D200000010A16026F3B00000A17DA130713052B170611050211056F4800000A285D00000AA2110517D613051105110731E306280300002B723100007006285F00000A0D036F3B00000A17DA17D68D200000010B16036F3B00000A17DA130813062B170711060311066F4800000A285D00000AA2110617D613061106110831E307280300002B723100007007285F00000A1304091104283B0000060C2B00082A000013300400AA0000002E000011026F3B00000A17DA17D68D200000010A16026F3B00000A17DA130713052B170611050211056F4800000A285D00000AA2110517D613051105110731E306280300002B723100007006285F00000A0D036F3B00000A17DA17D68D200000010B16036F3B00000A17DA130813062B170711060311066F4800000A285D00000AA2110617D613061106110831E307280300002B723100007007285F00000A1304091104283C0000060C2B00082A0000133004002B0000002F00001102726D0100701516286000000A0C08280300002B08726D010070286100000A0A066F6200000A0B2B00072A00133004001B0000003000001102283F000006726D0100701516286000000A0B078EB70A2B00062A0013300400670000003100001102283F000006726D0100701516286000000A0B03283F000006726D0100701516286000000A0C736300000A0A0713061613052B20110611059A1304081104280400002B152E080611046F6500000A110517D61305110511068EB732D8066F6600000A0D2B00092A001330040072000000320000110228400000060A0328400000060B020328410000060C0607D616330C2300000000000059400D2B480816FE0103723100007016283D00000A16FE016003723100007016283D00000A16FE01602C0C2300000000000000000D2B160818D86C0607D66C5B2300000000000059405A0D2B00092A000042534A4201000100000000000C00000076322E302E35303732370000000005006C000000A40D0000237E0000100E0000BC0C000023537472696E677300000000CC1A000080040000235553004C1F00001000000023475549440000005C1F0000A80B000023426C6F6200000000000000020000015717A20B090E000000FA01330016000001000000350000000B00000008000000420000005F0000000200000068000000330000003200000003000000090000000B000000030000000C00000001000000040000000200000003000000040000000000A40C0100000000000A001801EE000A004C012E0106005C0155010A00B401EE000600320255010A00B4028A020E00FA02E5020E000303E5020E009E03E50206000004ED030600A9049D040E009605E5020E00BB05A0050600D605CC050600EB05CC0512001708010812003008010812005D0845080600870874080A00C6089F080A00DE08130012001309F60806004809280906006609550106008A0955010A00A30913000600F109D2091200240A050A0A00310A13000A00410A9F080A00540A9F080600760A550112008F0A050A1200950A050A12009B0A050A1200D00A050A0600F30AD2090E00000BA0050600550B55010600690B55010600760B55010600910BD2090600A70BD2090E00B20BA0050E00CE0BA0050600D50B55010600EB0B55010A00F80B130006000B0C55010A001B0C13000600490C2E0C0600660C28090600860C280900000000010000000000010001000000000029003700050001000100000000003A00370009000100020000011000450037000D0001000300050100004F0000000D0005000800050100005D0000000D0005000F0001000000780087000D000600110001000000990087000D0006001D0001000000AC0087000D000600260009200000C10087000D000600290001000000D70087000D00090034003100770120003100A0012D003100C2013A003100E70147002100C30290000100FF05700101000606700101000E0673015020000000000618280113000100582000000000061828011300010060200000000011186301170001008C200000000013086A011B000100A820000000001308900128000100C420000000001308B90135000100E020000000001308D70142000100FC200000000046021D02630001001C21000000004602260268000200342100000000830037026C00020050210000000046023F027100020068210000000011004802780002008C21000000000100660280000300A821000000000618280113000400B0210000000003087A028B000400E821000000000618280113000400FC2100000000061828011300040004220000000016000E039D0004002C23000000001600A803B4000D008C23000000001600C903BF001000E023000000001600D603CA0013003C24000000001600E103D500160074240000000016000C04DC001700C0240000000011001704E7001A00D0240000000016002A04EF001C0020250000000016004304FA001F0080250000000016005104DC002300CC250000000011005E04070126000426000000000618280113002A000C26000000001100840415012A005C26000000001100B7041A012B007026000000001100B70425012E008826000000001100ED04330133004427000000001100F8043A0135008C270000000011000F0543013800BC2700000000160015054A013A006447000000001600330550013B003048000000000618280113003D003848000000001600500558013D00BC490000000016007E055E013F00104B000000000618280113004100184B000000006603E30564014100704B000000006603F8056A014200BC4B000000001600160676014300204C0000000046023F0271004400904C00000000160821067D014400B04C00000000660B2A0682014400C84C000000000608350671004400E04C0000000006083F0686014400EC4C0000000006084F0671004500044D0000000006085A0686014500104D000000000618280113004600184D0000000016007E065E014600204E0000000016009B0658014800944E000000001600BE065E014A00C84E000000001600E80658014C00204F00000000160012075E014E00544F000000001600310758015000AC4F0000000016005C075E0152008C5100000000160075075801540000520000000016009A075E015600B852000000001600AB07580158007053000000001600C80798015A00A853000000001600D2079D015B00D053000000001600DD075E015C004454000000001600E90758015E00000001002402000001005D02000001005D02000001002503000002003003000003003A03000004004A03000005005303000006005E03000007007603000008008203000009008D0300000100B30300000200BB0300000300C10300000100B30300000200BB0300000300C10300000100B30300000200BB0300000300C10300000100BB0300000100B30300000200BB0300000300C10300000100BB0302000200240400000100BB0300000200B30300000300370400000100B30300000200BB0300000300370400000400C10300000100B30300000200BB0300000300C10300000100BB03020002002404020003006D0402000400780400000100940400000100C10400000200CA0400000300D50400000100C10400000200CA0400000300D50400000400DA0400000500DE0400000100940400000200F50400000100940400000200010500000300070500000100940400000200F504000001002B05000001004A05000002004D0500000100740500000200790500000100740500000200790500000100E90500000100FD05000001001C0600000100490600000100490600000100950600000200980600000100950600000200980600000100DC0600000200E20600000100DC0600000200E20600000100DC0600000200E20600000100DC0600000200E20600000100950600000200980600000100950600000200980600000100950600000200980600000100950600000200980600000100BB0300000100BB030000010095060000020098060000010095060000020098060A0031000A00350009002801130081002801A20191002801B1011100280113009900280113002400280113002C00280113003400280113003C002801130024007A028B002C007A028B0034007A028B003C007A028B00A10028011300A90028011300B10028018601B90057094A0219001D02630019002602680029007809570219003F027100C90094096702190028011300D100280177024400C30290004C00BE098B004C00C809F4024C0028011300D900280101034100BE098201E9003D0A0C03F1004B0A1303F900600A190339006A0A1E0349002A06820101017D0A700149006A0A2A033900830A30034900BE0971000901950A36031901BE0971004100A30A47030901A90A4B0341006A0A53031901B10A68000901BB0A98010901C20A6C03F9003F027C034900280186014900650681030901C80A85030901E00A9E0339002801AF031901E80A68002901280113003101280113000101150B920959001E0B9C090101E80A68000101250BA209F1002F0BA80959002801AF0301013D0B71000101450BBA09F9003F02C0095900E80A680059003F02710001014C0BC50939012801130041016E0B050A4101720B0B0A01017C0B110A6900E30564017100E30586016900F8056A017900860B710061002A06820151012801520A61012801590A71012801130054002801940A79011D029A0A5400F00B9F0A49011D02A60A5400F40BAB0A8101000CC90A8101050CC90AF900600A9D015C002801940A5C00F00BDC0A5C00F40BE30A41016E0BE90AF9003F02020B8901110C070B0101160C130B8101C20A360B8101160C410B0101290C71006400280113008901500C5C0B6400580CF40264005C0C6800A1012801AF03A90128011300290083002C022E004303880B2E003B037F0B40002B00CF0140001300A80143001B00B70143001300A80149008300180263001300A80163001B00B701690083003D0280002B00CF0183007300CF0183007B00CF0183001B00B701890083000402A0002B00CF01A300C3007F02A3001300A801C0002B00CF01C300EB000603C3001300A801E0002B00CF0100011300A80100012B00CF0120011300A80120012B00CF0140011300A80140012B00CF0143017B02600A60012B00CF0160011300A80180012B00CF01A0012B00CF01C0011300A801C0012B00CF01E0012B00CF0100021300A80100022B00CF014002C301BA036002C301BA038002C301BA03A002C301BA03C002C301BA03E002C30117082003C301DF034003C3013B056003C30198068004C301ED09A004C301ED09E4062B02CF01F001F501FA01FF014F0253025E02630272027202FA022403400359036003670375038E039503A803B40397099709AF09B509CB09E809160A2E0A6302450A4C0A450A4F0263026302B10AC40AE809CF0AE809CF0AEF0AC40A1A0B280B480B4F0B660B780B04000100060005000A00060000004C014F000000050254000000B4015900000011025E000000CD029800000065068B0100006A06900100007106940100007706940102000400030002000500050002000600070002000700090002000F000B0002002E000D0002002F000F000100310011000200300011000200320013000100330013000A00540093000A00560097000A005E009B00750075008800D401DB01E201E901E102E8028C0AD40A550B0480000000000000000000000000000000008700000002000000000000000000000001000A00000000000800000000000000000000000A001300000000000200000000000000000000000100D9020000000002000000000000000000000001005501000000000500040006000400000010000C005B020000100019005B02000000001B005B022D006D022D00EF02BD000F0BC9000F0B0000003C4D6F64756C653E006D73636F726C6962004D6963726F736F66742E56697375616C4261736963004D794170706C69636174696F6E004D79004D79436F6D7075746572004D7950726F6A656374004D79576562536572766963657300546872656164536166654F626A65637450726F7669646572603100526567657846756E6374696F6E73004D61746368696E6746756E6374696F6E73004D65746170686F6E6546756E6374696F6E73004C6576656E73687465696E46756E6374696F6E7300446F75626C654D65746170686F6E65526573756C74004C6F6E67657374436F6D6D6F6E46756E6374696F6E73004D6963726F736F66742E56697375616C42617369632E4170706C69636174696F6E5365727669636573004170706C69636174696F6E42617365002E63746F72004D6963726F736F66742E56697375616C42617369632E4465766963657300436F6D70757465720053797374656D004F626A656374002E6363746F72006765745F436F6D7075746572006D5F436F6D70757465724F626A65637450726F7669646572006765745F4170706C69636174696F6E006D5F4170704F626A65637450726F76696465720055736572006765745F55736572006D5F557365724F626A65637450726F7669646572006765745F5765625365727669636573006D5F4D7957656253657276696365734F626A65637450726F7669646572004170706C69636174696F6E00576562536572766963657300457175616C73006F0047657448617368436F64650054797065004765745479706500546F537472696E67004372656174655F5F496E7374616E63655F5F005400696E7374616E636500446973706F73655F5F496E7374616E63655F5F006765745F476574496E7374616E6365004D6963726F736F66742E56697375616C42617369632E4D7953657276696365732E496E7465726E616C00436F6E7465787456616C75656031006D5F436F6E7465787400476574496E7374616E63650053797374656D2E446174610053797374656D2E446174612E53716C54797065730053716C496E7433320053716C426F6F6C65616E0052656745784F7074696F6E456E756D65726174696F6E0049676E6F726543617365004D756C74694C696E65004578706C696369744361707475726500436F6D70696C65640053696E676C654C696E650049676E6F72655061747465726E57686974657370616365005269676874546F4C6566740045434D415363726970740043756C74757265496E76617269616E740053716C537472696E670052656745784D61746368007061747465726E00696E707574004F7074696F6E7300526567457849734D61746368005265674578496E6465780052656745784573636170650053797374656D2E436F6C6C656374696F6E730049456E756D657261626C6500526567457853706C6974004E65787453706C6974526F77006D617463680052656745785265706C616365007265706C6163656D656E740052656745785265706C616365580052656745784D617463686573004E6578744D617463686564526F77006D61746368496E646578006D617463684C656E677468004973536C61766F4765726D616E6963005F526177546578740053797374656D2E5465787400537472696E674275696C646572004D6574617068416464005F5072696D617279005F416C7465726E617465006D61696E00616C74005F416C7465726E617465466C6167004973566F77656C00617400537472696E6741740073746172740073737472696E6700476574417400446F75626C654D65746170686F6E65456E636F6465005261775465787400446F75626C654D65746170686F6E65436F6D70617265007231007232004C6576656E73687465696E4564697444697374616E6365417350657263656E746167650073526F770073436F6C004C6576656E73687465696E4564697444697374616E636500494E756C6C61626C65004D6963726F736F66742E53716C5365727665722E536572766572004942696E61727953657269616C697A650053797374656D2E494F0042696E61727957726974657200577269746500770042696E61727952656164657200526561640072005F4669727374005F5365636F6E64005F49734E756C6C0050617273650064617461006765745F4E756C6C006765745F49734E756C6C006765745F4669727374007365745F46697273740076616C7565006765745F5365636F6E64007365745F5365636F6E64004E756C6C0049734E756C6C004669727374005365636F6E64004C6F6E67657374436F6D6D6F6E537562737472696E67007331007332004C6F6E67657374436F6D6D6F6E537562737472696E67417350657263656E74616765004C6F6E67657374436F6D6D6F6E537562737472696E674C656164696E6700776F72643100776F726432004C6F6E67657374436F6D6D6F6E537562737472696E674C656164696E67417350657263656E74616765004C6F6E67657374436F6D6D6F6E537562737472696E67547261696C696E67004C6F6E67657374436F6D6D6F6E537562737472696E67547261696C696E67417350657263656E74616765004C6F6E67657374436F6D6D6F6E53756273657175656E6365004C6F6E67657374436F6D6D6F6E53756273657175656E6365417350657263656E7461676500536861726564436861726163746572730053686172656443686172616374657273417350657263656E7461676500536F7274576F72647300436F756E74576F72647300536861726564576F72647300536861726564576F726473417350657263656E746167650053797374656D2E436F6D706F6E656E744D6F64656C00456469746F7242726F777361626C6541747472696275746500456469746F7242726F777361626C6553746174650053797374656D2E436F6465446F6D2E436F6D70696C65720047656E657261746564436F64654174747269627574650053797374656D2E446961676E6F737469637300446562756767657248696464656E417474726962757465004D6963726F736F66742E56697375616C42617369632E436F6D70696C65725365727669636573005374616E646172644D6F64756C6541747472696275746500486964654D6F64756C654E616D654174747269627574650053797374656D2E436F6D706F6E656E744D6F64656C2E44657369676E0048656C704B6579776F72644174747269627574650053797374656D2E52756E74696D652E436F6D70696C657253657276696365730052756E74696D6548656C70657273004765744F626A65637456616C75650052756E74696D655479706548616E646C65004765745479706546726F6D48616E646C6500416374697661746F7200437265617465496E7374616E6365004D7947726F7570436F6C6C656374696F6E417474726962757465006765745F56616C7565007365745F56616C75650053797374656D2E52756E74696D652E496E7465726F70536572766963657300436F6D56697369626C654174747269627574650053797374656D2E546578742E526567756C617245787072657373696F6E730052656765784F7074696F6E7300496E746572616374696F6E00494966004F70657261746F7273004F724F626A65637400436F6E76657273696F6E7300546F496E7465676572006F705F496D706C6963697400537472696E6700456D707479006F705F4578706C69636974005265676578004D6174636800436170747572650046616C73650049734D61746368006765745F496E646578004573636170650053706C6974005265706C616365004D61746368436F6C6C656374696F6E004D617463686573006765745F4C656E677468004F75744174747269627574650053716C46756E6374696F6E41747472696275746500436F6E7461696E7300417070656E6400537562737472696E6700436F6D70617265537472696E6700546F557070657200436F6E63617400506164526967687400506172616D4172726179417474726962757465004D617468004D617800506F7700496E743332006765745F43686172730052656164537472696E67005374727563744C61796F7574417474726962757465004C61796F75744B696E640053716C55736572446566696E65645479706541747472696275746500466F726D61740053657269616C697A61626C654174747269627574650043686172005365740047657400537472696E6773004C65667400526967687400417272617900536F7274004A6F696E00436F6D706172654D6574686F64005472696D0053797374656D2E436F6C6C656374696F6E732E47656E65726963004C697374603100496E6465784F6600416464006765745F436F756E7400436F6D70696C6174696F6E52656C61786174696F6E734174747269627574650052756E74696D65436F6D7061746962696C697479417474726962757465004D61746368696E6746756E6374696F6E732E646C6C0000000003570000034B00000543005A0000095700490054005A0000034100000345000003490000034F0000035500000359000001000D200020002000200020002000000547004E0000054B004E00000550004E00000557005200000550005300000358000003530000034200000350000003C700010343000007410043004800000D420041004300480045005200000D4D0041004300480045005200000D4300410045005300410052000009430048004900410000054300480000094300480041004500000B48004100520041004300000B48004100520049005300000748004F0052000007480059004D0000074800490041000007480045004D00000B430048004F00520045000009560041004E002000000956004F004E0020000007530043004800000D4F0052004300480045005300000D410052004300480049005400000D4F00520043004800490044000003540000034C000003520000034E0000034D000003480000034600000356000003200000054D00430000095700490043005A000007430049004100000543004300000548005500000B55004300430045004500000B5500430043004500530000054B005300000543004B000005430047000005430051000005430049000005430045000005430059000007430049004F000007430049004500000520004300000520005100000520004700000351000003440000054400470000034A00000554004B000005440054000005440044000003470000054500590000054C00490000054B004C00000545005300000545005000000545004200000545004C00000549004200000549004C00000549004E00000549004500000545004900000545005200000D440041004E00470045005200000D520041004E00470045005200000D4D0041004E00470045005200000752004700590000074F00470059000009410047004700490000094F004700470049000005450054000009490045005200200000094A004F00530045000009530041004E00200000035A00000949004C004C004F00000949004C004C004100000941004C004C00450000054100530000054F005300000755004D0042000003D10001054D00450000054D0041000007490053004C000007590053004C00000B5300550047004100520000055300480000094800450049004D00000948004F0045004B00000948004F004C004D00000948004F004C005A000007530049004F00000753004900410000095300490041004E0000055300430000054F004F00000545004E00000555005900000545004400000545004D00000553004B0000054100490000054F0049000009540049004F004E0000075400490041000007540043004800000554004800000754005400480000054F004D00000541004D0000033000000557004800000B4500570053004B004900000B4500570053004B005900000B4F00570053004B004900000B4F00570053004B0059000005540053000005460058000007490041005500000745004100550000054100550000054F00550000055A004F0000055A00490000055A0041000009200020002000200000094E0055004C004C0000000000D7C0D52EC279644EB77ED34BAD9DC5BD0008B77A5C561934E08908B03F5F7F11D50A3A0320000103000001040000120C070615121801120C040000120807061512180112080400001211070615121801121104000012140706151218011214040800120C040800120804080012110408001214042001021C0320000804200012150320000E021E00071001011E001E000730010101101E00021300042000130007061512190113000428001300160009111D1121112111211121112111211121112111210A0003112511251125111D0A0003112111251125111D0A0003111D11251125111D060001112511250A0003122911251125111D070002011C1011250A000311251125112511250C00041125112511251125111D0D0004011C10112510111D10111D040001020E0A00030110122D10122D0E0D00050110122D10122D0E0E100206000202100E0808000302100E081D0E0600020E100E0805000112280E07000208122812280500020D0E0E050002080E0E05200101123905200101123D02060E02060206000112281125040000122803200002042001010E0408001228032800020328000E0400010E0E040001080E052001011145080100010000000000052002010E0E1701000A4D7954656D706C61746507382E302E302E30000004010000000615121801120C061512180112080615121801121106151218011214040701120C0407011208040701121104070112141301000E4D792E576562536572766963657300001301000E4D792E4170706C69636174696F6E00001001000B4D792E436F6D707574657200000C0100074D792E5573657200000400011C1C03070102030701080600011215116104070112150307010E051001001E00040A011E000407011E00072004010E0E0E0E6101003453797374656D2E5765622E53657276696365732E50726F746F636F6C732E536F617048747470436C69656E7450726F746F636F6C124372656174655F5F496E7374616E63655F5F13446973706F73655F5F496E7374616E63655F5F0000000615121801130006151219011300040A0113000520010113000607021300130004200101020501000000000600031C021C1C0500021C1C1C040001081C050001111D08050702111D0805000111250E05000108111D0900031280890E0E11710607021125117103061121070003020E0E117105000111210206070211211171060702111D117104070111250800031D0E0E0E1171060702117112290400010E1C030611250800040E0E0E0E1171060702112511250807031171112511250900031280910E0E1171060702122911710420010108050701128089240100020054020F497344657465726D696E69737469630154020949735072656369736501815A010005005455794D6963726F736F66742E53716C5365727665722E5365727665722E446174614163636573734B696E642C2053797374656D2E446174612C2056657273696F6E3D322E302E302E302C2043756C747572653D6E65757472616C2C205075626C69634B6579546F6B656E3D623737613563353631393334653038390A446174614163636573730000000054020F497344657465726D696E69737469630154020949735072656369736501540E044E616D650C52656745785265706C61636554557F4D6963726F736F66742E53716C5365727665722E5365727665722E53797374656D446174614163636573734B696E642C2053797374656D2E446174612C2056657273696F6E3D322E302E302E302C2043756C747572653D6E65757472616C2C205075626C69634B6579546F6B656E3D623737613563353631393334653038391053797374656D4461746141636365737300000000815B010005005455794D6963726F736F66742E53716C5365727665722E5365727665722E446174614163636573734B696E642C2053797374656D2E446174612C2056657273696F6E3D322E302E302E302C2043756C747572653D6E65757472616C2C205075626C69634B6579546F6B656E3D623737613563353631393334653038390A446174614163636573730000000054020F497344657465726D696E69737469630154020949735072656369736501540E044E616D650D52656745785265706C6163655854557F4D6963726F736F66742E53716C5365727665722E5365727665722E53797374656D446174614163636573734B696E642C2053797374656D2E446174612C2056657273696F6E3D322E302E302E302C2043756C747572653D6E65757472616C2C205075626C69634B6579546F6B656E3D623737613563353631393334653038391053797374656D4461746141636365737300000000817D010006005455794D6963726F736F66742E53716C5365727665722E5365727665722E446174614163636573734B696E642C2053797374656D2E446174612C2056657273696F6E3D322E302E302E302C2043756C747572653D6E65757472616C2C205075626C69634B6579546F6B656E3D623737613563353631393334653038390A446174614163636573730000000054020F497344657465726D696E69737469630154020949735072656369736501540E044E616D650C52656745784D61746368657354557F4D6963726F736F66742E53716C5365727665722E5365727665722E53797374656D446174614163636573734B696E642C2053797374656D2E446174612C2056657273696F6E3D322E302E302E302C2043756C747572653D6E65757472616C2C205075626C69634B6579546F6B656E3D623737613563353631393334653038391053797374656D4461746141636365737300000000540E1146696C6C526F774D6574686F644E616D650E4E6578744D617463686564526F778179010006005455794D6963726F736F66742E53716C5365727665722E5365727665722E446174614163636573734B696E642C2053797374656D2E446174612C2056657273696F6E3D322E302E302E302C2043756C747572653D6E65757472616C2C205075626C69634B6579546F6B656E3D623737613563353631393334653038390A446174614163636573730000000054020F497344657465726D696E69737469630154020949735072656369736501540E044E616D650A526567457853706C697454557F4D6963726F736F66742E53716C5365727665722E5365727665722E53797374656D446174614163636573734B696E642C2053797374656D2E446174612C2056657273696F6E3D322E302E302E302C2043756C747572653D6E65757472616C2C205075626C69634B6579546F6B656E3D623737613563353631393334653038391053797374656D4461746141636365737300000000540E1146696C6C526F774D6574686F644E616D650C4E65787453706C6974526F77042001020E0407020202052001122D0E0520020E0808060003080E0E020507030208020407020E0E0500020E0E0E0400010E080520020E08031C0710122D02122D08122808081228021D0E0E1D0E1D0E1D0E1D0E1D0E0407020808170100010054020F497344657465726D696E6973746963010500020808080500020D0D0D0420010308170712030808080D080308081D081D081D0808080808080816071103080808080308081D081D081D0808080808080806070212281228050702122D0E062001011180AD062001011180B52B010002000000020054020D4973427974654F7264657265640154080B4D61784279746553697A65100000000714080200020000052002010808042001020306200301080808042001020805200208080812070A08080303081408020002000008080808040702080D0500020E0E080407020D0807140A02000200000620030108080A0520020A08080500020A0A0A12070A030308140A02000200000808080808080400010E0307100101011D1E00030A010E0600020E0E1D0E0D07091D0E1D0E080E0E080808080D07091D0E1D0E0D0E0E080808080A00041D0E0E0E081180C90600020E1D0E0E0607030E0E1D0E050702081D0E06151280CD010E09100102081D1E001E00110707151280CD010E1D0E1D0E080E081D0E0607040808080D0801000800000000001E01000100540216577261704E6F6E457863657074696F6E5468726F77730100F07F000000000000000000000E8000000020000000000000000000000000000000000000000000000080000000000000000000000000000000005F436F72446C6C4D61696E006D73636F7265652E646C6C0000000000FF25002040000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000100100000001800008000000000000000000000000000000100010000003000008000000000000000000000000000000100000000004800000058A000006C02000000000000000000006C0234000000560053005F00560045005200530049004F004E005F0049004E0046004F0000000000BD04EFFE00000100000000000000000000000000000000003F000000000000000400000002000000000000000000000000000000440000000100560061007200460069006C00650049006E0066006F00000000002400040000005400720061006E0073006C006100740069006F006E00000000000000B004CC010000010053007400720069006E006700460069006C00650049006E0066006F000000A801000001003000300030003000300034006200300000002C0002000100460069006C0065004400650073006300720069007000740069006F006E000000000020000000300008000100460069006C006500560065007200730069006F006E000000000030002E0030002E0030002E00300000004C001600010049006E007400650072006E0061006C004E0061006D00650000004D00610074006300680069006E006700460075006E006300740069006F006E0073002E0064006C006C0000002800020001004C006500670061006C0043006F0070007900720069006700680074000000200000005400160001004F0072006900670069006E0061006C00460069006C0065006E0061006D00650000004D00610074006300680069006E006700460075006E006300740069006F006E0073002E0064006C006C000000340008000100500072006F006400750063007400560065007200730069006F006E00000030002E0030002E0030002E003000000038000800010041007300730065006D0062006C0079002000560065007200730069006F006E00000030002E0030002E0030002E003000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000008000000C0000002030000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000
WITH PERMISSION_SET = SAFE
GO

/* bind functions */

CREATE FUNCTION RegExOptionEnumeration ( @IgnoreCase bit, @MultiLine bit, @ExplicitCapture bit, @Compiled bit, @SingleLine bit, @IgnorePatternWhitespace bit, @RightToLeft bit, @ECMAScript bit, @CultureInvariant bit )
RETURNS INT AS EXTERNAL NAME [MatchingFunctions].[MatchingFunctions.RegexFunctions].RegExOptionEnumeration
GO
CREATE FUNCTION RegExIsMatch ( @Pattern NVARCHAR(4000), @Input NVARCHAR(MAX), @Options int )
RETURNS BIT AS EXTERNAL NAME [MatchingFunctions].[MatchingFunctions.RegexFunctions].RegExIsMatch
GO
CREATE FUNCTION RegExIndex ( @Pattern NVARCHAR(4000), @Input NVARCHAR(MAX), @Options int )
RETURNS int AS EXTERNAL NAME [MatchingFunctions].[MatchingFunctions.RegexFunctions].RegExIndex
GO
CREATE FUNCTION RegExMatch ( @Pattern NVARCHAR(4000), @Input NVARCHAR(MAX), @Options int )
RETURNS NVARCHAR(MAX) AS EXTERNAL NAME [MatchingFunctions].[MatchingFunctions.RegexFunctions].RegExMatch
GO
CREATE FUNCTION RegExEscape ( @Input NVARCHAR(MAX) )
RETURNS NVARCHAR(MAX) AS EXTERNAL NAME [MatchingFunctions].[MatchingFunctions.RegexFunctions].RegExEscape
GO
CREATE FUNCTION RegExSplit ( @Pattern NVARCHAR(4000), @Input NVARCHAR(MAX), @Options int )
RETURNS TABLE (Match NVARCHAR(MAX)) AS EXTERNAL NAME [MatchingFunctions].[MatchingFunctions.RegexFunctions].RegExSplit
GO
CREATE FUNCTION RegExReplace ( @Input NVARCHAR(MAX), @Pattern NVARCHAR(4000), @Replacement NVARCHAR(MAX) )
RETURNS NVARCHAR(MAX) AS EXTERNAL NAME [MatchingFunctions].[MatchingFunctions.RegexFunctions].RegExReplace
GO
CREATE FUNCTION RegExReplaceX ( @Pattern NVARCHAR(4000), @Input NVARCHAR(MAX), @Replacement NVARCHAR(MAX), @Options int )
RETURNS NVARCHAR(MAX) AS EXTERNAL NAME [MatchingFunctions].[MatchingFunctions.RegexFunctions].RegExReplaceX
GO
CREATE FUNCTION RegExMatches ( @Pattern NVARCHAR(4000), @Input NVARCHAR(MAX), @Options int )
RETURNS TABLE (Match NVARCHAR(MAX), MatchIndex INT, MatchLength INT ) AS EXTERNAL NAME [MatchingFunctions].[MatchingFunctions.RegexFunctions].RegExMatches
GO

CREATE TYPE DoubleMetaphoneResult EXTERNAL NAME [MatchingFunctions].[MatchingFunctions.DoubleMetaphoneResult]
GO
CREATE FUNCTION DoubleMetaphoneCompare (@r1 DoubleMetaphoneResult, @r2 DoubleMetaphoneResult)
RETURNS Integer AS EXTERNAL NAME [MatchingFunctions].[MatchingFunctions.MetaphoneFunctions].DoubleMetaphoneCompare
GO
CREATE FUNCTION DoubleMetaphoneEncode (@string NVARCHAR(256))
RETURNS DoubleMetaphoneResult AS EXTERNAL NAME [MatchingFunctions].[MatchingFunctions.MetaphoneFunctions].DoubleMetaphoneEncode
GO

CREATE FUNCTION LevenshteinEditDistance (@s1 NVARCHAR(MAX), @s2 NVARCHAR(MAX))
RETURNS Integer AS EXTERNAL NAME [MatchingFunctions].[MatchingFunctions.LevenshteinFunctions].LevenshteinEditDistance
GO
CREATE FUNCTION LevenshteinEditDistanceAsPercentage (@s1 NVARCHAR(MAX), @s2 NVARCHAR(MAX))
RETURNS Float AS EXTERNAL NAME [MatchingFunctions].[MatchingFunctions.LevenshteinFunctions].LevenshteinEditDistanceAsPercentage
GO

CREATE FUNCTION LongestCommonSubstring (@s1 NVARCHAR(MAX), @s2 NVARCHAR(MAX))
RETURNS Integer AS EXTERNAL NAME [MatchingFunctions].[MatchingFunctions.LongestCommonFunctions].LongestCommonSubstring
GO
CREATE FUNCTION LongestCommonSubstringAsPercentage (@s1 NVARCHAR(MAX), @s2 NVARCHAR(MAX))
RETURNS Float AS EXTERNAL NAME [MatchingFunctions].[MatchingFunctions.LongestCommonFunctions].LongestCommonSubstringAsPercentage
GO
CREATE FUNCTION LongestCommonSubstringLeading (@s1 NVARCHAR(MAX), @s2 NVARCHAR(MAX))
RETURNS Integer AS EXTERNAL NAME [MatchingFunctions].[MatchingFunctions.LongestCommonFunctions].LongestCommonSubstringLeading
GO
CREATE FUNCTION LongestCommonSubstringLeadingAsPercentage (@s1 NVARCHAR(MAX), @s2 NVARCHAR(MAX))
RETURNS Float AS EXTERNAL NAME [MatchingFunctions].[MatchingFunctions.LongestCommonFunctions].LongestCommonSubstringLeadingAsPercentage
GO
CREATE FUNCTION LongestCommonSubstringTrailing (@s1 NVARCHAR(MAX), @s2 NVARCHAR(MAX))
RETURNS Integer AS EXTERNAL NAME [MatchingFunctions].[MatchingFunctions.LongestCommonFunctions].LongestCommonSubstringTrailing
GO
CREATE FUNCTION LongestCommonSubstringTrailingAsPercentage (@s1 NVARCHAR(MAX), @s2 NVARCHAR(MAX))
RETURNS Float AS EXTERNAL NAME [MatchingFunctions].[MatchingFunctions.LongestCommonFunctions].LongestCommonSubstringTrailingAsPercentage
GO
CREATE FUNCTION LongestCommonSubsequence (@s1 NVARCHAR(MAX), @s2 NVARCHAR(MAX))
RETURNS Integer AS EXTERNAL NAME [MatchingFunctions].[MatchingFunctions.LongestCommonFunctions].LongestCommonSubsequence
GO
CREATE FUNCTION LongestCommonSubsequenceAsPercentage (@s1 NVARCHAR(MAX), @s2 NVARCHAR(MAX))
RETURNS Float AS EXTERNAL NAME [MatchingFunctions].[MatchingFunctions.LongestCommonFunctions].LongestCommonSubsequenceAsPercentage
GO
CREATE FUNCTION SharedCharacters (@s1 NVARCHAR(MAX), @s2 NVARCHAR(MAX))
RETURNS Integer AS EXTERNAL NAME [MatchingFunctions].[MatchingFunctions.LongestCommonFunctions].SharedCharacters
GO
CREATE FUNCTION SharedCharactersAsPercentage (@s1 NVARCHAR(MAX), @s2 NVARCHAR(MAX))
RETURNS Float AS EXTERNAL NAME [MatchingFunctions].[MatchingFunctions.LongestCommonFunctions].SharedCharactersAsPercentage
GO
CREATE FUNCTION SortWords (@string NVARCHAR(MAX))
RETURNS NVarchar(MAX) AS EXTERNAL NAME [MatchingFunctions].[MatchingFunctions.LongestCommonFunctions].SortWords
GO
CREATE FUNCTION CountWords (@string NVARCHAR(MAX))
RETURNS Integer AS EXTERNAL NAME [MatchingFunctions].[MatchingFunctions.LongestCommonFunctions].CountWords
GO
CREATE FUNCTION SharedWords (@s1 NVARCHAR(MAX), @s2 NVARCHAR(MAX))
RETURNS Integer AS EXTERNAL NAME [MatchingFunctions].[MatchingFunctions.LongestCommonFunctions].SharedWords
GO
CREATE FUNCTION SharedWordsAsPercentage (@s1 NVARCHAR(MAX), @s2 NVARCHAR(MAX))
RETURNS Float AS EXTERNAL NAME [MatchingFunctions].[MatchingFunctions.LongestCommonFunctions].SharedWordsAsPercentage
GO


